:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  height:100dvh;
  width: 100dvw;
}

header{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

header img{
width: 50px;
height: auto;

}

form{
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding: 5px;
}



.flashCard{
  width: 200px;
  height: 180px;
  border-radius: 20px;
  background-color: #323949;
}

footer img{
  width:12px;
  height: auto;
}


